.page-header
	%h1 Bolt

%p.about_text Bolt is a new Twitter-like service which brings back the old Twitter experience. You'll be able to talk with new people you didn't knew, without pesky ads or promoted accounts.

.page-header
	%h1 Open Source

%p.about_text
	Yes, Bolt is open source on
	= link_to 'GitHub', "https://github.com/Pablo-Merino/Bolt"
	\. It's built using Rails, Mongoid and HAML.