.hero-unit
	%h1 Bolt
	- if false == true
		%p Bored of Twitter? Want to meet new people like you did with Twitter on the old times? Are you bored of all the advertising on Twitter? This is your place!
		= link_to 'Register now!', new_user_registration_path, :class=>"btn btn-primary btn-large"